/* DASHBOARD GENERAL */

::-webkit-scrollbar {
  display: none;
}
.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  color: var(--color-white);
}

.title {
  margin: 2em 5em 0em 5em;
  border-bottom: 1px solid var(--color-golden);
}

.cards {
  margin: 2em 5em 1em 5em;
  display: flex;
  justify-content: space-between;

}

.card {
  border: 1px solid var(--color-golden);
  height: 10em;
  width: 10em;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.card:hover{
  background-color: var(--color-white);
  transition: 0.5s ease-in;
}

.card h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 5em;
}

.card h1:hover{
  color: var(--color-black);
}

.reservation__card {
  height: max-content;
  min-height: 10em;
}

.reservations {
  margin: 1em;
}

.dashboard__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em;
  width: max-content;
  font-weight: bold;
  background: var(--color-black);
  border: 1px solid var(--color-golden);
  margin: 1em 70%;
  color: var(--color-golden);
}

.dashboard__button:hover {
  background-color: var(--color-golden);
  border: 1px solid var(--color-black);
  color: var(--color-black);
  transition: 0.5s ease;
}

/* TABLES */

table {
  border-collapse: collapse;
  width: 80%;
  margin : 2em 0 0 5em;
  border: 1px solid var(--color-gray);
}

table thead th {
  padding: 0.8em 1em;
  font-size: 1.1em;
  text-align: left;
  background: #2d3436;
  border: 1px solid var(--color-gray);
}

table tbody td {
  padding: 0.5em 1em;
  border: 1px solid var(--color-gray);
}
table tbody tr {
  background-color: #b2bec3;
  color: var(--color-gray);
}

table tr:nth-child(even) {
  color: white;
  background-color: #636e72;
}

.action__column {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
}

.product__title {
  width: 60%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 2000px) {
  .card h1{
    font-size: 2em;
  }
}

@media screen and (max-width: 720px) {
  .card h1{
    font-size: 1em;
  }
}

@media screen and (max-width: 450px) {
  .title{
    display: flex;
    justify-content: center
  }

  .cards {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
