/* WEBSITE BTN */

.website-btn {
  position: relative;
  display: inline-block;
  min-width: 180px;
  padding: 10px 5px;
  background: #535ac8;
  font-weight: 400;
  color: #fff;
  font-size: 1em;
  letter-spacing: 0.1px;
  border: transparent;
  border-radius: 10px;
  transition: 0.3s;
  
}
.website-btn:hover {
  background-color:  #3e4396;
  padding-right: 30px;
}

.website-btn i {
  position: absolute;
  top: 50%;
  transform: translate(-10px, -50%);
  display: inline-block;
  padding-top: 5px;
  font-size: 20px;
  opacity: 0;
  transition: 0.3s;
}
.website-btn:hover i {
  transform: translate(5px, -50%);
  opacity: 1;
}

/* SETTINGS BTN */

.floating-butt {
  position: fixed;
  right: 20px;
  top: -5px;
}

.floating-butt input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.floating-butt label {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  pointer-events: none;
}

.floating-butt > label div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50rem;
  cursor: pointer;
}
.floating-butt .butt {
  height: 50px;
  width: 50px;
  background-color: #535ac8;
  color: #fff;
  font-size: 1.5rem;
  transition: 0.3s;
  box-shadow: 0 1px 3px 3px rgb(80, 80, 80, 0.1);
  pointer-events: all;
}
.floating-butt .butt:hover {
  background-color: #3e4396;
}

.floating-butt .hide-butt {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  transform: translateX(20px);
  transition: 0.3s;
  opacity: 0;
}

.floating-butt .hide-butt > div {
  height: 30px;
  width: 30px;
  background-color: rgb(245, 245, 245);
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  transition: 0.3s;
  box-shadow: 0 1px 2px 2px rgb(80, 80, 80, 0.1);
}
.floating-butt .hide-butt > div:hover {
  background-color: rgb(200, 200, 200);
}

.floating-butt input:checked + label {
  pointer-events: all;
}
.floating-butt input:checked + label .butt {
  transform: scale(0.95) rotate(-135deg);
}
.floating-butt input:checked + label .hide-butt {
  opacity: 1;
  transform: translateY(0);
}